{% extends "dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<div class='columns multiline'>
    <div class='column is-one-third'>
        <figure class='image'>
            <img src={% static good.address %}>
        </figure>
    </div>

    <div class="order-form column is-fullwidth">
                        {%if form.errors %}
                        <p class='subtitle is-4 is-danger'> Помилка! Повідомте про неї за допомогою форми зворотнього зв'язку. </p>
                        {% endif %}
        <form action="{{good.id}}" method="post">


            <div class="form-group block">
                <div class="select is-medium is-fullwidth">
                <select name="good" required id="id_good" disabled>

                    <option value="{{good.id}}" selected>{{good.title}}</option>

                  </select>
                </div>


            </div>
<!--
            <div class="form-group block">

                <input type="text"
                    class="input is-medium"
                    placeholder="No good"
                    name="{{ form.good.name }}"
                    id="{{ form.good.id_for_label }}"
                    {% if good.id != None %}value="{{ good.id }}"{% endif %}
                    maxlength="{{ form.good.field.max_length }}"
                    {% if form.good.field.required %}required{% endif %}
                    disabled>
            </div>
            -->
            <div class="form-group block">

                <input type="text"
                    class="input is-medium"
                    placeholder="Введіть свій комментар"
                    name="{{ form.comment.name }}"
                    id="{{ form.comment.id_for_label }}"
                    {% if form.comment.value != None %}value="{{ form.comment.value|stringformat:'s' }}"{% endif %}
                    maxlength="{{ form.comment.field.max_length }}"
                    {% if form.comment.field.required %}required{% endif %}>
            </div>


            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" class='button is-primary' value="Прокоментувати" data-target="modal-success">
            </p>
        </form>
    </div>
{% endblock %}

