{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="columns is-multiline">
            <div class="column is-half">
                <p class="title is-2">AIМагазин</p>
                <p class="subtitle is-4">
                Вітаємо вас у нашому інтернет-магазині картин! Ми є професійним
                постачальником картин українських та зарубіжних художників. 
                У нас ви можете знайти картини різних стилів та напрямків -
                від класики до модерну. Ми пропонуємо широкий вибір картин у різних розмірах 
                та на різних матеріалах. Наші картини виготовлені з високоякісних матеріалів 
                та мають довговічність. Ми прагнемо задовольнити потреби кожного клієнта та 
                забезпечити якісний сервіс. Зверніться до нас з будь-якими запитаннями та ми 
                з радістю вам допоможемо! Дякуємо за ваш вибір та сподіваємося на подальшу 
                співпрацю.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}